{% extends 'base.html' %}

{% block title %}Мастера - Автосервис{% endblock %}

{% block content %}
<section class="masters-header">
    <div class="container">
        <h1>Наши мастера</h1>
        <p>Профессионалы своего дела</p>
    </div>
</section>

<section class="masters-list">
    <div class="container">
        {% for master in masters %}
        <div class="master-item">
            <div class="master-photo">
                <img src="{{ master.photo.url }}" alt="{{ master.name }}">
            </div>
            <div class="master-info">
                <h2>{{ master.name }}</h2>
                <p class="specialization">{{ master.specialization }}</p>
                <p class="experience">Опыт работы: {{ master.experience }} лет</p>
                <div class="car-brands">
                    <h3>Специализация по маркам:</h3>
                    <p>{{ master.car_brands }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}